<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <link rel="stylesheet" href="../static/style.css">
        <title>About US</title>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src ="../static/app.js"></script>
    </head>
<body>
    <nav class="container-fluid">

            <strong><a href="/">Home</a></strong>
            <img alt="Half Stack Of Pancakes" src = "../static/photos/half stack pancakes.PNG" class = "halfstack" >
    </nav>
    <main class="container">
        <section id="about">
            <div class = "about">
                <h2>Either the given email has already been removed or it was never in the mailing list in the first place.</h2>
            </div>
        </section>
    </main>
</body>
</html>