<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Sustainability Tracking</title>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src ="../static/app.js"></script>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>ConocoPhillips</strong></li>
        </ul>
        <ul>
            <li><a href="aboutUs.html">About Us</a></li>
        </ul>
    </nav>
    <main class="container">
        <section id="about">
            <h2>About ConocoPhillips</h2>
            <p>Welcome to ConocoPhillips' sustainability tracking page. We are devoted to monitoring and improving the environmental impact of our global operations.</p>
        </section>
        
        
        <section id="locations">
            <h2>Sustainability Categories</h2>
            <div class="location-list">
                <details class="location-card" tabindex="0">
                    <summary class = "card">
                            <h2>Energy</h2>
                            <img src="../photos/light bulb.jpg" alt="Snow" class = "clickableImages" onclick="imageClicked('Water')">
                    </summary>
                    <canvas id="energy" style="width:100%;max-width:700px"></canvas>
                    <button class = "moredata" id="generateChartButton">More Data?</button>
                </details>
                <details class="location-card" tabindex="0">
                    <summary class = "card">
                            <h2>Oil Spills</h2>
                            <img src="../photos/oil spills.jpg" alt="Mountains" class = "clickableImages"onclick="imageClicked('GreenHouseEmissions')">
                    </summary>
                    <canvas id="oilSpills" style="width:100%;max-width:700px"></canvas>
                    <button class = "moredata" id="generateChartButton">More Data?</button>
                </details>
                <details class="location-card" tabindex="0">
                        <summary class = "card">
                                <h2>Water Usage</h2>
                                <img src="../photos/water.png" alt="Snow" class = "clickableImages" onclick="imageClicked('Water')">
                        </summary>
                        <span style="color:rgb(0, 0, 0);font-size:18px;">Water usage per country</span>
                        <canvas id="water" style="width:100%;max-width:700px"></canvas>
                        <button class = "moredata" id="generateChartButton">More Data?</button>
                    </details>
                <!-- Add more locations as needed -->
                <details class="location-card" tabindex="0">
                    <summary class = "card">
                            <h2>Waste Production</h2>
                            <img src="../photos/recycle.jpg" alt="Forest" class = "clickableImages"onclick="imageClicked('GreenHouseEmissions')">
                    </summary>
                    <canvas id="waste" style="width:100%;max-width:700px"></canvas>
                    <button class = "moredata" id="generateChartButton">More Data?</button>
                </details>
                <details class="location-card" tabindex="0">
                    <summary class = "card">
                            <h2>Green House Emissions</h2>
                            <img src="../photos/green house emissions.jpg" alt="Mountains" class = "clickableImages"onclick="imageClicked('GreenHouseEmissions')">
                    </summary>
                    <canvas id="GreenHouseEmissions" style="width:100%;max-width:700px"></canvas>
                    <button class = "moredata" id="generateChartButton">More Data?</button>
                </details>
            </section>
    </main>
    <footer class="container">
        
        <small><a href="#">Privacy Policy</a> • <a href="#">Terms of Use</a></small>
    </footer>
</body>
</html>