<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Sustainability Tracking</title>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src ="../static/app.js"></script>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><a style="font-weight: lighter;" href="/">COP Sustainability</a></li>
        </ul>
        <ul>
            <li><a href="\about-us">About Us</a></li>
        </ul>
    </nav>
    <main class="container">
        <section id="about">
            <h2>About ConocoPhillips</h2>
            <p>Welcome to ConocoPhillips' sustainability tracking page. We are devoted to monitoring and improving the environmental impact of our global operations.</p>
        </section>
        
        <section id="locations">
            <div class="location-list">
                <details class="location-card" tabindex="0">
                    <summary class = "card">
                            <h2>Sustainability Scores</h2>
                            <img src="../static/photos/cloud.png" alt="Snow" class = "clickableImages" onclick="imageClicked('Water')">
                    </summary>
                    <h3>Total Sustainability Scores (Out of 100)</h3>
                    <ol class="container">
                        <li>Asia Pacific<span style="float: right;">89</span></li>
                        <li>Europe / Middle East<span style="float: right;">61</span></li>
                        <li>U.S.A.<span style="float: right;">32</span></li>
                        <li>Canada<span style="float: right;">25</span></li>
                    </ol>
                </details>
                <details class="location-card" tabindex="0">
                    <summary class = "card">
                            <h2>Energy</h2>
                            <img src="../static/photos/light bulb.png" alt="Snow" class = "clickableImages" onclick="imageClicked('Water')">
                    </summary>
                    <h3>Energy Sustainability Scores (Out of 20)</h3>
                    <ol class="container">
                        <li>Europe / Middle East<span style="float: right;">15</span></li>
                        <li>Asia Pacific<span style="float: right;">14</span></li>
                        <li>U.S.A.<span style="float: right;">13</span></li>
                        <li>Canada<span style="float: right;">0</span></li>
                    </ol>
                    <canvas id="energy"></canvas>
                    <button class = "moredata" id="generateChartButton">More Data?</button>
                </details>
                <details class="location-card" tabindex="0">
                    <summary class = "card">
                            <h2>Oil Spills</h2>
                            <img src="../static/photos/oil spills.png" alt="Mountains" class = "clickableImages" onclick="imageClicked('GreenHouseEmissions')">
                    </summary>
                    <h3>Spillage Sustainability Scores (Out of 20)</h3>
                    <ol class="container">
                        <li>Asia Pacific<span style="float: right;">20</span></li>
                        <li>Europe / Middle East<span style="float: right;">20</span></li>
                        <li>U.S.A.<span style="float: right;">2</span></li>
                        <li>Canada<span style="float: right;">0</span></li>
                    </ol>
                    <canvas id="oilSpills"></canvas>
                    <button class = "moredata" id="generateChartButton">More Data?</button>
                </details>
                <details class="location-card" tabindex="0">
                    <summary class = "card">
                            <h2>Water Usage</h2>
                            <img src="../static/photos/water.png" alt="Snow" class = "clickableImages" onclick="imageClicked('Water')">
                    </summary>
                    <h3>Water Sustainability Scores (Out of 20)</h3>
                    <ol class="container">
                        <li>Asia Pacific<span style="float: right;">20</span></li>
                        <li>Canada<span style="float: right;">15</span></li>
                        <li>U.S.A.<span style="float: right;">7</span></li>
                        <li>Europe / Middle East<span style="float: right;">0</span></li>
                    </ol>
                    <canvas id="water"></canvas>
                    <button class = "moredata" id="generateChartButton">More Data?</button>
                </details>
                <details class="location-card" tabindex="0">
                    <summary class = "card">
                            <h2>Waste Production</h2>
                            <img src="../static/photos/recycle.png" alt="Forest" class = "clickableImages" onclick="imageClicked('GreenHouseEmissions')">
                    </summary>
                    <h3>Waste Sustainability Scores (Out of 20)</h3>
                    <ol class="container">
                        <li>Asia Pacific<span style="float: right;">20</span></li>
                        <li>Europe / Middle East<span style="float: right;">11</span></li>
                        <li>Canada<span style="float: right;">10</span></li>
                        <li>U.S.A.<span style="float: right;">0</span></li>
                    </ol>
                    <canvas id="waste"></canvas>
                    <button class = "moredata" id="generateChartButton">More Data?</button>
                </details>
                <details class="location-card" tabindex="0">
                    <summary class = "card">
                            <h2>Green House Emissions</h2>
                            <img src="../static/photos/green house emissions.png" alt="Mountains" class = "clickableImages" onclick="imageClicked('GreenHouseEmissions')">
                    </summary>
                    <h3>GHG Sustainability Scores (Out of 20)</h3>
                    <ol class="container">
                        <li>Europe / Middle East<span style="float: right;">16</span></li>
                        <li>Asia Pacific<span style="float: right;">15</span></li>
                        <li>U.S.A.<span style="float: right;">11</span></li>
                        <li>Canada<span style="float: right;">0</span></li>
                    </ol>
                    <canvas id="GreenHouseEmissions" style="width:100%;max-width:700px"></canvas>
                    <button class = "moredata" id="generateChartButton">More Data?</button>
                </details>
            </div>
            </section>
            <section  aria-label="Subscribe example">
                <div class = "emailList" class="container">
                    <article>
                        <h2>Please join our mailing list to receive regular updates about COP sustainability:</h2>
                        <form class="grid" action="/submit-form" method="post"> <!-- /submit-form is localhost -->
                            <input type="text" id="firstname" name="firstname" placeholder="First Name" aria-label="First Name" required />
                            <input type="email" id="email" name="email" placeholder="Email Address" aria-label="Email Address" required />
                            <button type="submit">Subscribe</button>
                        </form>
                    </article>
                </div>
            </section>
    </main>
    <footer class="container">
        
        <small><a href="#">Privacy Policy</a> • <a href="#">Terms of Use</a></small>
    </footer>
</body>
</html>