<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Sustainability Tracking</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.location-card').forEach(card => {
                card.addEventListener('click', function () {
                    this.classList.toggle('active');
                });
            });
        });
    </script>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong><a href="/">Home</a></strong></li>
        </ul>
        <ul>
            <li><a href="/about-us">About Us</a></li>
        </ul>
    </nav>
    <main class="container">
        <section aria-label="Subscribe example">
            <div class="container">
                <article>
                    <h2>You have successfully been added to our mailing list. Thank you for supporting our mission or holding COP to the highest standards of sustainability!</h2>
                </article>
            </div>
        </section>
    </main>
    <footer class="container">
        <small><a href="#">Privacy Policy</a> • <a href="#">Terms of Use</a></small>
    </footer>
</body>
</html>